/* Estilos Generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}



/* Bloque header */
.header {
    color: #005196;
    font-size: 1.0em;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95px;
    padding: 5px;
}

.header h1 {
    font-size: 20px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 350px;
    padding: 10px;
}


.header img {
    height: 80px;
}

hr {
    border: 0.1px solid #4d4d4d4d;
    box-shadow: 0 3px 3px 0 rgba(100, 100, 100, 0.8);
}



/* Bloque Accesibilidad */
.accesibilidad {
    position: fixed;
    top: 100;
    /* right: -220px; */
    /*Oculto por defecto*/
    background-color: #005196;
    color: azure;
    padding: 20px;
    width: 200px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    /* Z-index Sirve para sobreponer un elemento sobre otro */
    z-index: 1000;
    transition: right 0.3s ease;
    right: -200px;
}

.accesibilidad h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.accesibilidad button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.icon-accesibilidad {
    position: absolute;
    top: 150px;
    right: 11px;
    border: 1px solid #005199;
    border-radius: 5%;
}

.icon-accesibilidad:hover {
    cursor: pointer;
    background-color: #c5c4c4;
}

.accesibilidad.mostrar {
    right: 0;
}

.icon-accesibilidad.mostrar {
    right: 200px;
}

/* Bloque texto */
.bloque_texto{
    display: flex;
    padding: 10px;
    height: 300px;
    background-color: #c5c4c4;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: auto;
}

.texto p{
    padding: 10px;
}
.bloque_img{
    width: 30%;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.bloque_img img{
    height: 100%;
}
/* Bloque Vacunación */
.bloque_Vacunas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.bloque_Vacunas h2{
    font-size: 25px;
    padding-bottom: 10px;
}
.bloque_Vacunas div{
    border: 1px solid black;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.vacunas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tipoVacunas{
    width: 120px;
}

.bloque_Vacunas p{
    font-size: 14px;
    padding: 10px;
    text-align: center;
}